.bg-gray-1 {
    background-color: rgb(245, 244, 244);
}

.bg-gray-2 {
    background-color: rgba(216, 213, 213, 0.6);
}

.bg-gray-3 {
    background-color: rgba(216, 213, 213, 0.816);
}

.text-danger-1 {
    color: rgb(255, 0, 0);
}

.bg-danger-1 {
    background-color: rgb(255, 0, 0);
}

.img-fit-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fit-content {
    width: 100%;
    height: 100%;
}

.card-img-div-height {
    height: 310px;
}

.card-img-div-width {
    width: 100%;
}

.index-img-height {
    height: 260px;
}

.text-div-height {
    height: 4rem;
}

.moreDescription-div-height {
    height: 120px;
}

.campgroundIndexMap {
    height: 300px;
    width: 100%;
}