<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>

    <body>

        <%- include('components/navbar') %>

            <div class="container text-center" style="height: 83vh;">

                <h1 class="py-5 text-center">WELCOME</h1>
                <h2 class="pb-3 text-center">Get started</h2>
                <a href="/products" class="btn btn-primary"> Products </a>
                <a class="btn btn-outline-danger" href="/products/new">new product</a>

            </div>

            <%- include('components/footer') %>

    </body>

</html>