<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop with for</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg fixed-top ">
        <a class="navbar-brand" href="#"> <b>SUBREDDIT</b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/rand">Random Value</a>
                <a class="nav-item nav-link active" href="/forLoop">Looping over Array</a>
                <a class="nav-item nav-link active" href="/conditionals">conditionals</a>
                <a class="nav-item nav-link active" href="/r/chickens">Chickens Subreddit</a>
                <a class="nav-item nav-link active" href="/r/mightyharvest">mighty harvest subreddit</a>
                <a class="nav-item nav-link active" href="/r/soccer">soccer subreddit</a>
            </div>
        </div>
    </nav>
    <h1>Looping over an array in EJS</h1>
    <ul>
        <% for( let index = 0; index < arr.length; index++ ) { %>
            <li>
                <%= arr[index] %>
            </li>
            <% } %>
    </ul>

    <ul>
        <% for( let a in arr ) { %>
            <li>
                <%= arr[a] %>
            </li>
            <% } %>
    </ul>

</body>

</html>