<%- include('partials/head') %>


    <body>
        <%- include('partials/navbar') %>

            <h1>Welcome to homepage</h1>

            <h3>
                2 + 3 is :
                <%= 'to uppercase in ejs '.toUpperCase() %>
                    <!-- using this < % = % > tag you can add js codes in ejs -->
            </h3>
    </body>

    </html>