<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <div class="container my-5">
            <h1 class="my-3">
                <%= title %>
            </h1>
            <h3>
                Get Started:
            </h3>
            <a href="/campgrounds" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                Campgrounds
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
            <a href="#" class='btn btn-sm btn-outline-dark rounded-pill px-3'>
                placeholder
            </a>
        </div>
    </body>

</html>